In [1]:
import pandas as pd

url = "./1_data storage/BankChurners.csv"
df = pd.read_csv(url)
df.shape

(10127, 23)

In [12]:
import sqlalchemy as db

engine = db.create_engine('sqlite:///DB.db')

In [7]:
# Have to create the DB with a with statement because it'll auto close it afterwards 
# Creating the table called "raw_data"
with engine.connect() as connect:
    df.to_sql(
        name="raw_data",
        con=connect,
        if_exists="replace",
    )

In [8]:
#To inspect the db we need this
inspector = db.inspect(engine)

# Get table information
print(inspector.get_table_names())

['raw_data']

In [24]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///DB.db')
table_df = pd.read_sql_table(
    "raw_data",
    con=engine.connect()
)

table_df.head(3)

Empty DataFrame
Columns: [index, CLIENTNUM, Attrition_Flag, Customer_Age, Gender, Dependent_count, Education_Level, Marital_Status, Income_Category, Card_Category, Months_on_book, Total_Relationship_Count, Months_Inactive_12_mon, Contacts_Count_12_mon, Credit_Limit, Total_Revolving_Bal, Avg_Open_To_Buy, Total_Amt_Chng_Q4_Q1, Total_Trans_Amt, Total_Trans_Ct, Total_Ct_Chng_Q4_Q1, Avg_Utilization_Ratio, Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1, Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2]
Index: []

[0 rows x 24 columns]

In [13]:
with engine.connect().execution_options(autocommit=True) as conn:
    df = pd.read_sql("SELECT * FROM raw_data", con = conn)

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM raw_data'

In [ ]:
df_DB = pd.read_sql_query("SELECT * FROM raw_data", con=engine.connect())

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM raw_data'