# Creating the DB with SQLalchemy from scratch

In [38]:
from sqlalchemy import Column, Integer, String, CHAR, Float
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.orm import declarative_base, sessionmaker
import pandas as pd

raw_path = 'data_cleaning/BankChurners.csv'
cleaned_data_path = "data_cleaning/ForDatabase_CleanedData.csv"

df = pd.read_csv(raw_path)
print(df.shape)

# Declare the base class
Base = declarative_base()

# Creating the DB from scratch
class Raw_data(Base):
    __tablename__ = "raw_data"

    clientnum = Column('CLIENTNUM', Integer, primary_key=True)
    attrition_flag = Column('Attrition_Flag', String, nullable=False)
    customer_age = Column('Customer_Age', Integer, nullable=False)
    #CHAR because it's a unique character and not a string
    gender = Column('Gender', CHAR, nullable=False)
    dependant_count = Column('Dependant_Count', Integer, nullable=False)
    education_level = Column('Education_Level', String, nullable=False)
    marital_status = Column('Marital_Status', String, nullable=False)
    income_category = Column('Income_Category', String, nullable=False)
    card_category = Column('Card_Category', String, nullable=False)
    month_on_book = Column('Month_On_Book', Integer, nullable=False)
    total_relationship_count = Column('Total_Relationship_Count', Integer, nullable=False)
    months_inactive_12_mon = Column('Months_Inactive_12_Mon', Integer, nullable=False)
    contacts_count_12_mon = Column('Contacts_Count_12_Mon', Integer, nullable=False)
    credit_limit = Column('Credit_Limit', Float, nullable=False)
    total_revolving_bal = Column('Total_Revolving_Bal', Integer, nullable=False)
    avg_open_to_buy = Column('Avg_Open_To_Buy', Float, nullable=False)
    total_amt_chng_Q4_Q1 = Column('Total_Amt_Chng_Q4_Q1', Float, nullable=False)
    total_trans_amt = Column('Total_Trans_Amt', Integer, nullable=False)
    total_trans_ct = Column('Total_Trans_Ct', Integer, nullable=False)
    total_ct_chng_Q4_Q1 = Column('Total_Ct_Chng_Q4_Q1', Float, nullable=False)
    avg_utilization_ratio = Column('Avg_Utilization_Ratio', Float, nullable=False)
    NBC1 = Column('Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', Float, nullable=False)
    NBC2 = Column('Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2', Float, nullable=False)
    
    def __init__(self, clientnum : int, attrition_flag : str, customer_age : int, gender : str, dependant_count : int, education_level : str,
                    marital_status : str, income_category : str, card_category : str, month_on_book : int, total_relationshiop_count : int,
                    months_inactive_12_mon : int, contacts_count_12_mon : int, credit_limit : float, total_revolving_bal : int, 
                    avg_open_to_buy : float, total_amt_chng_Q4_Q1 : float, total_trans_amt : int, total_trans_ct : int, total_ct_chng_Q4_Q1 : float,
                    avg_utilization_ratio : float, NBC1 : float, NBC2 : float):
        self.clientnum = clientnum
        self.attrition_flag = attrition_flag
        self.customer_age = customer_age
        self.gender = gender
        self.dependant_count = dependant_count
        self.education_level = education_level
        self.marital_status = marital_status
        self.income_category = income_category
        self.card_category = card_category
        self.month_on_book = month_on_book
        self.total_relationship_count = total_relationshiop_count
        self.months_inactive_12_mon = months_inactive_12_mon
        self.contacts_count_12_mon = contacts_count_12_mon
        self.credit_limit = credit_limit
        self.total_revolving_bal = total_revolving_bal
        self.avg_open_to_buy = avg_open_to_buy
        self.total_amt_chng_Q4_Q1 = total_amt_chng_Q4_Q1
        self.total_trans_amt = total_trans_amt
        self.total_trans_ct = total_trans_ct
        self.total_ct_chng_Q4_Q1 = total_ct_chng_Q4_Q1
        self.avg_utilization_ratio = avg_utilization_ratio
        self.NBC1 = NBC1
        self.NBC2 = NBC2

# Create the engine to interact with the DB
engine = create_engine('sqlite:///DB_from_scratch.db')

# Create database following parameters defined on `Base` => this step close the creation of the DB but it's empty !
Base.metadata.create_all(engine)

(10127, 23)

# Fill the DB with the raw data from the original csv

In [39]:
df = pd.read_csv(raw_path)

# Bind the engine to the metadata of the Base class so that the
# declaratives can be accessed through a DBSession instance
Base.metadata.bind = engine
DBsession = sessionmaker(bind=engine)
session = DBsession()

# Going trough the whole df to enter each df's column in the DB's related column where each column is a tuple with the iterrows function
display(df.head(1))
for row in df.iterrows():
    raw_data = Raw_data(row[1][0],row[1][1],row[1][2],row[1][3],row[1][4],row[1][5],row[1][6],row[1][7],row[1][8],row[1][9],row[1][10],row[1][11],
    row[1][12],row[1][13],row[1][14],row[1][15],row[1][16],row[1][17],row[1][18],row[1][19],row[1][20],row[1][21],row[1][22])
    session.add(raw_data)
    session.commit()


session.close()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991

# Create the table with the cleaned csv file from Anil's work

In [40]:
class Cleaned_data(Base):
    __tablename__ = "cleaned_data"

    clientnum = Column('CLIENTNUM', Integer, primary_key=True)
    attrition_flag = Column('Attrition_Flag', String, nullable=False)
    customer_age = Column('Customer_Age', Integer, nullable=False)
    #CHAR because it's a unique character and not a string
    gender = Column('Gender', CHAR, nullable=False)
    dependant_count = Column('Dependant_Count', Integer, nullable=False)
    education_level = Column('Education_Level', String, nullable=False)
    marital_status = Column('Marital_Status', String, nullable=False)
    income_category = Column('Income_Category', String, nullable=False)
    card_category = Column('Card_Category', String, nullable=False)
    month_on_book = Column('Month_On_Book', Integer, nullable=False)
    total_relationship_count = Column('Total_Relationship_Count', Integer, nullable=False)
    months_inactive_12_mon = Column('Months_Inactive_12_Mon', Integer, nullable=False)
    contacts_count_12_mon = Column('Contacts_Count_12_Mon', Integer, nullable=False)
    credit_limit = Column('Credit_Limit', Float, nullable=False)
    total_revolving_bal = Column('Total_Revolving_Bal', Integer, nullable=False)
    #avg_open_to_buy = Column('Avg_Open_To_Buy', Float, nullable=False) #Normal that it's deleted ???
    total_amt_chng_Q4_Q1 = Column('Total_Amt_Chng_Q4_Q1', Float, nullable=False)
    total_trans_amt = Column('Total_Trans_Amt', Integer, nullable=False)
    total_trans_ct = Column('Total_Trans_Ct', Integer, nullable=False)
    total_ct_chng_Q4_Q1 = Column('Total_Ct_Chng_Q4_Q1', Float, nullable=False)
    avg_utilization_ratio = Column('Avg_Utilization_Ratio', Float, nullable=False)
    
    def __init__(self, attrition_flag : str, customer_age : int, gender : str, dependant_count : int, education_level : str,
                    marital_status : str, income_category : str, card_category : str, month_on_book : int, total_relationshiop_count : int,
                    months_inactive_12_mon : int, contacts_count_12_mon : int, credit_limit : float, total_revolving_bal : int, 
                    total_amt_chng_Q4_Q1 : float, total_trans_amt : int, total_trans_ct : int, total_ct_chng_Q4_Q1 : float,
                    avg_utilization_ratio : float):
        
        self.attrition_flag = attrition_flag
        self.customer_age = customer_age
        self.gender = gender
        self.dependant_count = dependant_count
        self.education_level = education_level
        self.marital_status = marital_status
        self.income_category = income_category
        self.card_category = card_category
        self.month_on_book = month_on_book
        self.total_relationship_count = total_relationshiop_count
        self.months_inactive_12_mon = months_inactive_12_mon
        self.contacts_count_12_mon = contacts_count_12_mon
        self.credit_limit = credit_limit
        self.total_revolving_bal = total_revolving_bal
        #self.avg_open_to_buy = avg_open_to_buy
        self.total_amt_chng_Q4_Q1 = total_amt_chng_Q4_Q1
        self.total_trans_amt = total_trans_amt
        self.total_trans_ct = total_trans_ct
        self.total_ct_chng_Q4_Q1 = total_ct_chng_Q4_Q1
        self.avg_utilization_ratio = avg_utilization_ratio

In [41]:
df_cleaned = pd.read_csv(cleaned_data_path)

#Deleting this column
del df_cleaned['Unnamed: 0']
display(df_cleaned.shape)
#Creating the new table
meta = MetaData()

cleaned_data = Table('cleaned_data', meta,
    Column("Attrition_Flag", String),
    Column("Customer_Age", Integer),
    Column("Gender", CHAR),
    Column("Dependent_Count", Integer),
    Column('Education_Level', String),
    Column('Marital_Status', String),
    Column('Income_Category', String),
    Column('Card_Category', String),
    Column('Months_on_book', Integer),
    Column('Total_Relationship_Count', Integer),
    Column('Month_Inactive_12_mon', Integer),
    Column('Contacts_Count_12_mon', Integer),
    Column('Credit_Limit', Float),
    Column('Total_Revolving_Bal', Integer),
    Column('Total_Amt_Chng_Q4_Q1', Float),
    Column('Total_Trans_Amt', Integer),
    Column('Total_Trans_Ct', Integer),
    Column('Total_Ct_Chng_Q4_Q1', Float),
    Column('Avg_Utilization_Ratio', Float))

#The create_all() function uses the engine object to create all the defined table objects and stores the information in metadata.
meta.create_all(engine)

#for row in df_cleaned.iterrows():
#    cleaned_data =

(10110, 20)

# Querying informations from the DB

In [42]:
from sqlalchemy import inspect

inspector = inspect(engine)

# Get the tables'list in the DB

print(inspector.get_table_names())

['cleaned_data', 'raw_data']

## Print the first 10 rows of the table raw_data

In [44]:
first_entry = session.query(Raw_data).limit(10).all()

for row in first_entry :
    print(row.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x17fac8110>, 'attrition_flag': 'Existing Customer', 'month_on_book': 36, 'total_trans_amt': 15149, 'customer_age': 45, 'total_relationship_count': 4, 'total_trans_ct': 111, 'gender': 'F', 'months_inactive_12_mon': 3, 'total_ct_chng_Q4_Q1': 0.734, 'dependant_count': 3, 'contacts_count_12_mon': 3, 'avg_utilization_ratio': 0.469, 'education_level': 'High School', 'credit_limit': 3544.0, 'NBC1': 0.00030516, 'clientnum': 708082083, 'marital_status': 'Married', 'total_revolving_bal': 1661, 'NBC2': 0.99969, 'income_category': 'Less than $40K', 'avg_open_to_buy': 1883.0, 'card_category': 'Blue', 'total_amt_chng_Q4_Q1': 0.831}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x17fac91f0>, 'attrition_flag': 'Attrited Customer', 'month_on_book': 45, 'total_trans_amt': 992, 'customer_age': 58, 'total_relationship_count': 3, 'total_trans_ct': 21, 'gender': 'M', 'months_inactive_12_mon': 1, 'total_ct_chng_Q4_Q1': 0.4, 'dependant_count': 0, 'contacts_count_12_mon': 3, 'avg_utilization_ratio': 0.736, 'education_level': 'Unknown', 'credit_limit': 3421.0, 'NBC1': 0.98869, 'clientnum': 708083283, 'marital_status': 'Single', 'total_revolving_bal': 2517, 'NBC2': 0.01131, 'income_category': '$40K - $60K', 'avg_open_to_buy': 904.0, 'card_category': 'Blue', 'total_amt_chng_Q4_Q1': 0.992}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x280bc9310>, 'attrition_flag': 'Attrited Customer', 'month_on_book': 38, 'total_trans_amt': 1447, 'customer_age': 46, 'total_relationship_count': 6, 'total_trans_ct': 23, 'gender': 'M', 'months_inactive_12_mon': 3, 'total_ct_chng_Q4_Q1': 0.0, 'dependant_count': 3, 'contacts_count_12_mon': 3, 'avg_utilization_ratio': 0.214, 'education_level': 'Doctorate', 'credit_limit': 8258.0, 'NBC1': 0.9978, 'clientnum': 708084558, 'marital_status': 'Divorced', 'total_revolving_bal': 1771, 'NBC2': 0.00219584, 'income_category': '$80K - $120K', 'avg_open_to_buy': 6487.0, 'card_category': 'Blue', 'total_amt_chng_Q4_Q1': 0.0}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x280854a70>, 'attrition_flag': 'Existing Customer', 'month_on_book': 24, 'total_trans_amt': 3940, 'customer_age': 34, 'total_relationship_count': 6, 'total_trans_ct': 82, 'gender': 'F', 'months_inactive_12_mon': 2, 'total_ct_chng_Q4_Q1': 0.952, 'dependant_count': 2, 'contacts_count_12_mon': 2, 'avg_utilization_ratio': 0.0, 'education_level': 'Uneducated', 'credit_limit': 1438.3, 'NBC1': 0.00011703, 'clientnum': 708085458, 'marital_status': 'Single', 'total_revolving_bal': 0, 'NBC2': 0.99988, 'income_category': 'Less than $40K', 'avg_open_to_buy': 1438.3, 'card_category': 'Blue', 'total_amt_chng_Q4_Q1': 0.827}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x2808549b0>, 'attrition_flag': 'Existing Customer', 'month_on_book': 41, 'total_trans_amt': 4369, 'customer_age': 49, 'total_relationship_count': 3, 'total_trans_ct': 59, 'gender': 'F', 'months_inactive_12_mon': 5, 'total_ct_chng_Q4_Q1': 0.735, 'dependant_count': 2, 'contacts_count_12_mon': 2, 'avg_utilization_ratio': 0.239, 'education_level': 'Uneducated', 'credit_limit': 3128.0, 'NBC1': 0.00020656, 'clientnum': 708086958, 'marital_status': 'Married', 'total_revolving_bal': 749, 'NBC2': 0.99979, 'income_category': 'Unknown', 'avg_open_to_buy': 2379.0, 'card_category': 'Blue', 'total_amt_chng_Q4_Q1': 0.598}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x127b45fd0>, 'attrition_flag': 'Existing Customer', 'month_on_book': 34, 'total_trans_amt': 1448, 'customer_age': 43, 'total_relationship_count': 5, 'total_trans_ct': 29, 'gender': 'M', 'months_inactive_12_mon': 2, 'total_ct_chng_Q4_Q1': 0.381, 'dependant_count': 4, 'contacts_count_12_mon': 2, 'avg_utilization_ratio': 0.055, 'education_level': 'Unknown', 'credit_limit': 33304.0, 'NBC1': 0.00013121, 'clientnum': 708095133, 'marital_status': 'Unknown', 'total_revolving_bal': 1833, 'NBC2': 0.99987, 'income_category': '$120K +', 'avg_open_to_buy': 31471.0, 'card_category': 'Blue', 'total_amt_chng_Q4_Q1': 0.428}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x280cda9f0>, 'attrition_flag': 'Existing Customer', 'month_on_book': 19, 'total_trans_amt': 1598, 'customer_age': 32, 'total_relationship_count': 6, 'total_trans_ct': 39, 'gender': 'F', 'months_inactive_12_mon': 1, 'total_ct_chng_Q4_Q1': 0.773, 'dependant_count': 0, 'contacts_count_12_mon': 0, 'avg_utilization_ratio': 0.5, 'education_level': 'Graduate', 'credit_limit': 2834.0, 'NBC1': 1.7434e-05, 'clientnum': 708098133, 'marital_status': 'Married', 'total_revolving_bal': 1418, 'NBC2': 0.99998, 'income_category': 'Less than $40K', 'avg_open_to_buy': 1416.0, 'card_category': 'Blue', 'total_amt_chng_Q4_Q1': 1.458}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x280cdaed0>, 'attrition_flag': 'Existing Customer', 'month_on_book': 36, 'total_trans_amt': 2732, 'customer_age': 37, 'total_relationship_count': 4, 'total_trans_ct': 63, 'gender': 'F', 'months_inactive_12_mon': 2, 'total_ct_chng_Q4_Q1': 0.853, 'dependant_count': 2, 'contacts_count_12_mon': 2, 'avg_utilization_ratio': 0.327, 'education_level': 'High School', 'credit_limit': 5723.0, 'NBC1': 0.00011065, 'clientnum': 708099183, 'marital_status': 'Single', 'total_revolving_bal': 1873, 'NBC2': 0.99989, 'income_category': 'Less than $40K', 'avg_open_to_buy': 3850.0, 'card_category': 'Blue', 'total_amt_chng_Q4_Q1': 0.851}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x280cdbad0>, 'attrition_flag': 'Existing Customer', 'month_on_book': 36, 'total_trans_amt': 4943, 'customer_age': 55, 'total_relationship_count': 3, 'total_trans_ct': 85, 'gender': 'F', 'months_inactive_12_mon': 3, 'total_ct_chng_Q4_Q1': 0.735, 'dependant_count': 3, 'contacts_count_12_mon': 3, 'avg_utilization_ratio': 0.85, 'education_level': 'College', 'credit_limit': 2679.0, 'NBC1': 0.00030519, 'clientnum': 708100533, 'marital_status': 'Single', 'total_revolving_bal': 2277, 'NBC2': 0.99969, 'income_category': 'Less than $40K', 'avg_open_to_buy': 402.0, 'card_category': 'Blue', 'total_amt_chng_Q4_Q1': 0.736}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x280cdbb90>, 'attrition_flag': 'Existing Customer', 'month_on_book': 45, 'total_trans_amt': 15798, 'customer_age': 52, 'total_relationship_count': 1, 'total_trans_ct': 128, 'gender': 'M', 'months_inactive_12_mon': 5, 'total_ct_chng_Q4_Q1': 0.73, 'dependant_count': 1, 'contacts_count_12_mon': 1, 'avg_utilization_ratio': 0.212, 'education_level': 'High School', 'credit_limit': 11898.0, 'NBC1': 0.00011056, 'clientnum': 708103608, 'marital_status': 'Single', 'total_revolving_bal': 2517, 'NBC2': 0.99989, 'income_category': '$60K - $80K', 'avg_open_to_buy': 9381.0, 'card_category': 'Blue', 'total_amt_chng_Q4_Q1': 0.745}