In [2]:
import sqlite3 
import pandas as pd

connector = sqlite3.connect("DB.db")

url = "./1_data storage/BankChurners.csv"
df = pd.read_csv(url)

# Write the data in a SQL DB
df.to_sql("raw_data", connector, if_exists="replace")

# Create a Cursor object with the connector
cursor = connector.cursor()

#for row in cursor.execute("SELECT * FROM raw_data"):
#    print(row)

#Close the connection to the DB
connector.close()

# Open a DB with Pandas and sqlite3

In [6]:
#Open the DB and create the connection
connector = sqlite3.connect('DB.db')
#Open the DB with pandas
df_DB = pd.read_sql_query("SELECT * FROM raw_data", connector)

df_DB.head(1)

,index,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991